[submodule "app/kalapuikko"]
	path = app/kalapuikko
	url = https://github.com/sjaks/vantaankosken-kalapuikko-js.git
[submodule "app/demooni"]
	path = app/demooni
	url = https://github.com/sjaks/demooni.git
[submodule "app/hash100"]
	path = app/hash100
	url = https://github.com/sjaks/hash100.git
