/*
      _       _        
 ___ (_) __ _| | _____  sjaks@github
/ __|| |/ _` | |/ / __| s.jaks.fi
\__ \| | (_| |   <\__ \ ------------
|___// |\__,_|_|\_\___/ sjaks.github.io
   |__/                

BRIEF:
My homepage source code
*/

body, html {
    font-family: 'Muli', sans-serif;
    color: #676767;
    background-color: #f9f9f9;
    margin: 0px;
    padding: 0px;
    transition: background-color 0.3s, color 0.3s;
}

a, a:visited {
    color: #525252;
    text-decoration: underline !important;
    transition: 0.3s;
}

a:hover  {
    color: #ffb300 !important;
}

.content-wrapper {
    max-width: 610px;
    height: auto;
    margin: 0px auto;
    padding: 25px;
}

.content-container {
    width: 100%;
    height: auto;
}

.content-container .bio {
    font-style: italic;
    margin: 25px 0px;;
}

.content-footer-text {
    margin: 25px 0px;
}

.title-container {
    max-width: 610px;
    height: 100px;
    margin: 50px 0px;
}

.title-container .text-box {
    width: auto;
    float: left;
    padding: 23px;
}

.title-container .text-box .title {
    font-size: 23px;
    font-weight: bold;
    display: block;
}

.title-container .text-box .subtitle-1 {
    font-size: 13px;
    display: block;
}

.title-container .image-box {
    height: 100px;
    width: 100px;
    background: url("https://avatars1.githubusercontent.com/u/44066308");
    background-size: cover;
    border-radius: 50%;
    float: left;
}

.media-icon  {
    font-size: 20px;
    padding: 10px;
}

.image-gallery {
    padding: 15px;
}

.image-flexbox {
    width: 25%;
    display: flex;
}

.image-gallery img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
    display: block;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#theme-switch {
    float: right;
    padding-right: 40px;
    cursor: pointer;
    color: #676767;
    transition: color 0.3s;
}

#theme-switch:hover {
    color: #f5c842;
}

#load-cover {
    background: #f9f9f9;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    opacity: 1.0;
    transition: 0.4s opacity; 
}

.spinner {
    border: 5px solid#f9f9f9;
    border-left: 5px solid #676767;;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0px auto;
    animation: load 1.1s infinite linear;
}

@keyframes load {
    0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
    }
    100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
    }
}