/*
homepage
sjaks@github.com
*/

a, a:visited, a:hover {
    color: var(--info) !important;
}

.landing-screen, .landing-wrapper {
    height: 100%;
}

.landing-content {
    padding: 20px;
}

.landing-content img {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    float: left;
    margin-right: 20px;
}

.landing-content h1 {
    float: left;
}

.landing-content h1 span {
    font-size: 1.9rem;
}

/* Small style changes for mobile */
@media (max-width: 768px) {
    .landing-buttons .btn {
        width:100%;
        margin-bottom: 0.5rem;
    }

    .landing-content img {
        width: 42px;
        height: 42px;
        margin-right: 10px;
    }

    .landing-content h1 {
        font-size: 1.8rem;
    }

    .landing-content h1 span {
        font-size: 1.6rem;
    }
}
