/*
homepage
sjaks@github.com
*/

:root {
    --color: #012d30cc;
    --color-alt: #0b5f47e3;
    --color-back: #fffdf1;
}

body, html {
    background-color: var(--color-back);
    font-family: 'Times New Roman', Times, serif;
    color: var(--color);
}

a, a:visited {
    color: var(--color-alt) !important;
    text-decoration: none;
}

a:hover {
    color: var(--color-alt) !important;
    text-decoration: underline;
}

.wrapper {
    max-width: 720px;
    margin: 40px auto;
}

.content {
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
}

heading {
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
}

heading h1 {
    margin: 8px 0px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
    display: block;
    width: 400px;
    float: left;
}

heading h2 {
    margin: 8px 0px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    display: block;
    width: 400px;
    float: left;
}

hr {
    margin: 22px 0px;
    border: 0px;
    height: 0px;
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}

main {
    font-weight: 400;
    line-height: 1.5;
    max-width: 400px;
    box-sizing: border-box;
    float: left;
}

aside {
    float: right;
    max-width: 320px;
}

aside ul {
    margin: 0px;
    padding: 0px;
    list-style-type: square;
    font-weight: 400;
    line-height: 1.75;
}

footer {
    opacity: 0.8;
    font-size: .8rem;
    display: block;
    width: 100%;
    padding: 42px 0px;
}

.logo-wrapper {
    float: right;
    width: 100px;
    height: 100px;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
}

/* Small style changes for mobile */
@media (max-width: 720px) {
    heading h1 {
        margin: 8px 0px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 2.5rem;
        display: block;
        width: 100%;
        text-align: center;
    }

    heading h2 {
        margin: 8px 0px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1rem;
        display: block;
        width: 100%;
        text-align: center;
    }

    .content {
        overflow: hidden;
    }

    main {
        width: 100%;
    }

    aside {
        width: 100%;
        margin-left: 22px;
        margin-top: 22px;
        float: left;
    }

    aside ul {
        line-height: 2.3;
    }

    footer {
        text-align: center;
    }

    .logo-wrapper {
        float: unset;
        margin: 15px auto;
    }

    aside ul li a {
        padding: 9px;
    }
}
