/*
      _       _        
 ___ (_) __ _| | _____  sjaks@github
/ __|| |/ _` | |/ / __| jaks.fi
\__ \| | (_| |   <\__ \ ------------
|___// |\__,_|_|\_\___/ sjaks.github.io
   |__/                

BRIEF:
My homepage source code
*/

body, html {
    font-family: 'Inconsolata', monospace;
    color: #eeeeee;
    background-color: #111111;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

a, .menu a:visited {
    color: #2bbc8a;
    text-decoration: none;
}

a:hover {
    /* make links more noticeable */
    text-decoration: underline;
}

.landing-screen {
    width: 100%;
    height: 100%;
    background: url(../images/cover.jpg);
    background-size: cover;
}

.header {
    width: 100%;
    height: 50%;
    background: #222222F9;
    position: relative;
}

.header-wrapper {
    width: 680px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    position: absolute;
    bottom: 4vh;
}

.header ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    padding-right: 15px;
    border-right: 1px dotted #2bbc8a;
}

.header ul .last {
    border-right: none;
}

.landing-content {
    width: 100%;
    height: 50%;
    background: #111111FD;
    position: relative;
}

.content-container {
    width: 680px;
    margin: 0px auto;
    padding-top: 4vh;
}

.content-container figure, .content-container p, .content-container ul {
    margin: 0px 0px 35px 0px;
}

.content-container .block-img {
    /* fit images into the container */
    height: 230px;
    width: 230px;
    float: left;
}

.content-container .block-content {
    /* fit images into the container */
    height: 230px;
    width: 420px;
    float: right;
}

.block {
    width: 100%;
    height: 360px;
}

.long-block {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.log-block {
    height: 320px;
    width: 300px;
    display: block;
    margin: 0px auto;
    margin-bottom: 80px;
}

.log-block img {
    /* fit images into the container */
    height: 300px;
    width: 300px;
}

.tag {
    color: #268bd2;
}

.tech {
    color: #268bd2;
    font-size: 11px;
}

.toggle-log {
    font-family: 'Inconsolata', monospace;
    background-color: #222;
    color: #888;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
}

.active, .toggle-log:hover {
    background-color: #333333;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#git-view a {
    text-decoration: none !important;
}

#git-view hr {
    height: 1px;
    border: none;
    background: #888888;
    margin: 30px 0px;
}

.git-clause {
    color: #eeeeee;
}

.git-clause-right {
    float: right;
    color: #888888;
}

.git-info {
    color: #888888;
    font-style: italic;
    display: block;
}