/*
homepage
sjaks@github.com
*/

:root {
    --sjaks-color: #353535;
    --sjaks-color-alt: #f1f1f1;
    --sjaks-color-back: #fafafa;
}

body, html {
    background-color: var(--sjaks-color-back);
}

a, a:visited, a:hover {
    color: var(--sjaks-color) !important;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.landing {
    height: auto;
    max-width: 500px;
    padding: 80px 70px;
    border: 3px var(--sjaks-color-alt) solid;
    border-radius: 68% 27% 27% 65% / 61% 40% 60% 40%;
}

.landing .logo-wrapper {
    width: 64px;
    height: 64px;
    margin: 0px auto;
    margin-bottom: 20px;
    border: 1px var(--sjaks-color) solid;
    border-radius: 50%;
    padding: 15px;
}

.landing .logo-wrapper img {
    width: 100%;
    height: 100%;
}

.landing h1 {
    text-align: center;
    color: var(--sjaks-color);
    font-size: 28px;
}

.landing h2 {
    text-align: center;
    color: var(--sjaks-color);
    font-size: 14px;
}

.landing p {
    text-align: justify;
    color: var(--sjaks-color);
    font-size: 14px;
}

.landing .landing-buttons {
    text-align: center;
}

.landing .landing-buttons button {
    color: var(--sjaks-color);
}

.landing .landing-buttons button:hover {
    color: var(--sjaks-color-back);
}

/* Small style changes for mobile */
@media (max-width: 768px) {
    .landing {
        height: auto;
        max-width: 500px;
        border: none;
    }

    .landing-buttons .btn {
        width:100%;
        margin-bottom: 0.5rem;
    }
}
