/*
homepage
sjaks@github.com
*/

:root {
    --color: #012d30cc;
    --color-alt: #0b5f47e3;
    --color-back: #fffdf1;
}

body, html {
    background-color: var(--color-back);
    font-family: 'Times New Roman', Times, serif;
    color: var(--color);
}

a, a:visited {
    color: var(--color-alt) !important;
    text-decoration: none;
}

a:hover {
    color: var(--color-alt) !important;
    text-decoration: underline;
}

.wrapper {
    max-width: 720px;
    margin: 40px auto;
}

.content {
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
}

heading {
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
}

heading h1 {
    margin: 8px 0px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
    display: block;
    width: 400px;
    float: left;
}

heading h2 {
    margin: 8px 0px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    display: block;
    width: 400px;
    float: left;
}

hr {
    margin: 22px 0px;
    border: 0px;
    height: 0px;
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}

main {
    font-weight: 400;
    line-height: 1.5;
    max-width: 580px;
    box-sizing: border-box;
    float: left;
}

aside {
    float: right;
    max-width: 320px;
}

aside ul {
    margin: 0px;
    padding: 0px;
    list-style-type: square;
    font-weight: 400;
    line-height: 1.75;
}

footer {
    opacity: 0.8;
    font-size: .8rem;
    display: block;
    width: 100%;
    padding: 42px 0px;
}

.logo-wrapper {
    float: right;
    width: 100px;
    height: 100px;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
}

.menu {
    height: 10px;
    margin-top: 15px;
}

.item {
    border-top: 2px solid var(--color);
    border-left: 2px solid var(--color);
    border-right: 2px solid var(--color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    float: left;
}

.item a {
    color: var(--color);
    text-decoration: none;
}

.item:hover, .active {
    background: var(--color);
    cursor: pointer;
}

.item:hover a, .active a {
    color: var(--color-back) !important;
}

.now {
    margin-top: 25px;
}


/* Small style changes for mobile */
@media (max-width: 720px) {
    heading h1 {
        margin: 8px 0px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 2.5rem;
        display: block;
        width: 100%;
        text-align: center;
    }

    heading h2 {
        margin: 8px 0px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1rem;
        display: block;
        width: 100%;
        text-align: center;
    }

    .content {
        overflow: hidden;
    }

    main {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        text-align: justify;
    }

    aside {
        width: 100%;
        margin-top: 18px;
        margin-bottom: 32px;
        float: left;
        max-width: none;
    }

    aside ul {
        text-align: center;
    }

    aside ul li {
        list-style-type: none;
    }

    footer {
        text-align: center;
    }

    .logo-wrapper {
        float: unset;
        margin: 15px auto;
    }

    aside ul li a {
        display: block;
        margin: 12px auto;
        width: 200px;
        padding: 15px;
        border: 1px var(--color-alt) dotted;
        border-radius: 4px;
    }

    aside ul li a:active {
        background: var(--color-alt);
        color: #ffffff !important;
    }

    .menu {
        height: 18px;
        margin: 0 auto;
        margin-top: 20px;
        width: 180px;
    }
    
    .item {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 10px;
    }
}
