/*
      _       _        
 ___ (_) __ _| | _____  sjaks@github
/ __|| |/ _` | |/ / __| jaks.fi
\__ \| | (_| |   <\__ \ ------------
|___// |\__,_|_|\_\___/ sjaks
   |__/                

BRIEF:
My homepage source code
*/

@font-face {
    font-family: Icsl;
    src: url("../fonts/Inconsolata.otf") format("opentype");
}

body, html {
    font-family: Icsl;
    color: #eeeeee;
    background-color: #111111;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

a, .menu a:visited {
    color: #2bbc8a;
    text-decoration: none;
}

a:hover {
    /* make links more noticeable */
    text-decoration: underline;
}

footer {
    text-align: center;
}

.landing-screen {
    width: 100%;
    min-height: 100%;
}

.header {
    width: 100%;
    min-height: 50%;
    background: #222222F9;
    position: relative;
}

.header-wrapper {
    left: 0px;
    right: 0px;
    margin: 0px auto;
    position: relative;
    padding: 30px;
    padding-bottom: 0px;
}

.header-wrapper img {
    border-radius: 50%;
    width: 64px;
    display: block;
    margin: 0px auto;
}

.header-wrapper h1 {
    font-size: 25px;
    text-align: center;
}

.header-wrapper p {
    text-align: justify;
}

.header ul {
    margin: 10px auto;
    padding: 0px;
    padding-bottom: 3vh;
}

.header ul li {
    line-height: 1.1;
    list-style-type: none;
    display: block;
    padding: 8px 0px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    border: 1px #2bbc8a solid;
}

.landing-content {
    width: 100%;
    height: 15%;
    background: #111111FD;
    position: relative;
    text-align: center;
}

.content-container {
    width: 100%;
    margin: 0px auto;
    padding-top: 1.2vh;
}

.content-container h1 {
    text-align: center;
}

.content-container .block-img {
    /* fit images into the container */
    height: auto;
    width: 90%;
    display: block;
    margin: 30px auto;
}

.content-container .block-content {
    /* fit images into the container */
    width: 90%;
    padding-bottom: 20px;
    border-bottom: dotted #eeeeee 1px;
    margin: 20px auto;
}

.long-block {
    width: 90%;
    height: auto;
    margin: 50px auto;
}

.log-block {
    height: auto;
    width: 90%;
    display: block;
    margin: 0px auto;
    margin-bottom: 80px;
}

.log-block img {
    /* fit images into the container */
    height: auto;
    width: 100%;
    display: block;
    margin: 0px auto;
}

.tag {
    color: #268bd2;
}

.tech {
    color: #268bd2;
    font-size: 11px;
    display: block;
}

.toggle-log {
    font-family: 'Inconsolata', monospace;
    background-color: #222;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 17px;
}

.active, .toggle-log:hover {
    background-color: #333;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#git-view a {
    text-decoration: none !important;
    margin-top: 10px;
}

.git-repo {
    display: inline;
    float: left;
}

.git-clause {
    display: block;
    float: left;
    font-size: 12px;
    color: #eeeeee;
    width: 100%;
}

.git-timestamp {
    display: inline;
    float: right;
    font-size: 12px;
    color: #888888;
}

.git-info {
    color: #888888;
    font-style: italic;
    display: block;
}

.key {
    font-size: 12px;
}
