/*
      _       _        
 ___ (_) __ _| | _____  sjaks@github
/ __|| |/ _` | |/ / __| jaks.fi
\__ \| | (_| |   <\__ \ ------------
|___// |\__,_|_|\_\___/ sjaks.github.io
   |__/                

BRIEF:
My homepage source code
*/

body, html {
    font-family: 'Inconsolata', monospace;
    color: #eeeeee;
    background-color: #111111;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

a, .menu a:visited {
    color: #2bbc8a;
    text-decoration: none;
}

a:hover {
    /* make links more noticeable */
    text-decoration: underline;
}

.landing-screen {
    width: 100%;
    height: 100%;
    background: url(../images/cover.jpg);
    background-size: cover;
}

.header {
    width: 100%;
    height: 80%;
    background: #222222F9;
    position: relative;
}

.header-wrapper {
    left: 0px;
    right: 0px;
    margin: 0px auto;
    position: relative;
    padding: 30px;
}

.header ul li {
    vertical-align: middle;
    margin-right: 12px;
    padding-right: 15px;
    line-height: 1.5;
    list-style-type: none;
}

.header ul .last {
    border-right: none;
}

.landing-content {
    width: 100%;
    height: 20%;
    background: #111111FD;
    position: relative;
    text-align: center;
}

.content-container {
    width: 100%;
    margin: 0px auto;
    padding-top: 4vh;
}

.content-container h1 {
    text-align: center;
}

.content-container .block-img {
    /* fit images into the container */
    height: auto;
    width: 90%;
    display: block;
    margin: 30px auto;
}

.content-container .block-content {
    /* fit images into the container */
    width: 90%;
    padding-bottom: 20px;
    border-bottom: dotted #eeeeee 1px;
    margin: 20px auto;
}

.long-block {
    width: 90%;
    height: auto;
    margin: 50px auto;
}

.log-block {
    height: auto;
    width: 90%;
    display: block;
    margin: 0px auto;
    margin-bottom: 80px;
}

.log-block img {
    /* fit images into the container */
    height: auto;
    width: 100%;
    display: block;
    margin: 0px auto;
}

.tag {
    color: #268bd2;
    display: block;
}

.tech {
    color: #268bd2;
    font-size: 11px;
}

.toggle-log {
    font-family: 'Inconsolata', monospace;
    background-color: #222;
    color: #888;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 17px;
}

.active, .toggle-log:hover {
    background-color: #333;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#git-view a {
    text-decoration: none !important;
}

#git-view hr {
    height: 1px;
    border: none;
    background: #888888;
    margin: 30px 0px;
}

.git-clause {
    color: #eeeeee;
}

.git-clause-right {
    display: block;
    float: left;
    color: #888888;
}

.git-info {
    color: #888888;
    font-style: italic;
    display: block;
    width: 70%;
}